<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Foodies</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-primary" %>
      </li>
      <li>
        <%= link_to "See all restaurants", restaurants_path, class: "btn btn-primary" %>
      </li>
    </ul>
  </nav>

    <%= yield %>
  </body>
</html>
